        body {
            font-family: "Manrope", sans-serif;
            font-size: 20px;
            margin: 20px;
            background-image: url('https://i.pinimg.com/564x/7e/db/32/7edb32b41524342db49c9802e1b470c9.jpg'); /* Set background image */
            background-size: cover;
            background-position: center;
        }
        form {
            max-width: 600px;
            margin: 0 auto;
        }
        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }
        input, select, button {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 20px;
            font-size: 16px; /* Change font size */
            font-family: "Manrope", sans-serif;
            font-weight: bold;
        }
        button {
            background-color: #76aae9;
            color: white;
            border: none;
            cursor: pointer;
        }
        button:hover {
            background-color: #eda6e7;
        }
    